stages:
  - build_dev
  - build_main
  - deploy_dev
  - deploy_main

.build-job: &build-job
  image: hamravesh.hamdocker.ir/public/darkube-cli:v1.1
  script:
    - export IMAGE="registry.hamdocker.ir/sahmeto/front-v2"
    - 'darkube build --push -t $IMAGE:$CI_COMMIT_SHORT_SHA -t $IMAGE:$CI_COMMIT_REF_SLUG --build-arg NEXT_PUBLIC_WEBSITE_URL=${NEXT_PUBLIC_WEBSITE_URL} --build-arg SENTRY_AUTH_TOKEN=${SENTRY_AUTH_TOKEN} --build-arg NEXT_PUBLIC_ENVIRONMENT=${NEXT_PUBLIC_ENVIRONMENT} --build-arg NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL} --build-arg NEXT_PUBLIC_API_URL_=${NEXT_PUBLIC_API_URL_} --build-arg NEXT_PUBLIC_HASURA_API_URL=${NEXT_PUBLIC_HASURA_API_URL} --build-arg NEXT_PUBLIC_ISR=${NEXT_PUBLIC_ISR}'

.deploy-job: &deploy-job
  image: hamravesh.hamdocker.ir/public/darkube-cli:v1.1
  script:
    - 'darkube deploy --token ${DEPLOY_TOKEN}
      --app-id ${APP_ID}  --image-tag "${CI_COMMIT_SHORT_SHA}"
      --job-id "${CI_JOB_ID}"'

darkube_build_appname_namespace_dev:
  <<: *build-job
  only:
    refs:
      - dev
  stage: build_dev
  environment:
    name: dev
    url: https://temp.sahmeto.com

darkube_build_appname_namespace_main:
  <<: *build-job
  only:
    refs:
      - main
  stage: build_main
  environment:
    name: production
    url: https://www.sahmeto.com

darkube_deploy_appname_namespace_dev:
  <<: *deploy-job
  only:
    refs:
      - dev
  stage: deploy_dev
  environment:
    name: dev
    url: https://temp.sahmeto.com


darkube_deploy_appname_namespace_main:
  <<: *deploy-job
  only:
    refs:
      - main
  stage: deploy_main
  environment:
    name: production
    url: https://www.sahmeto.com

