@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media screen and (min-width: 992px) {
        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        ::-webkit-scrollbar-thumb {
            background: #8995a7;
            border-radius: 100px;
        }

        ::-webkit-scrollbar-track {
            background: #e8ecf1;
            border-radius: 100px;
        }
    }

    :root {
        --cmdk-list-height: 635px;
    }

    .main {
        @apply w-full text-xs text-neutral-800 md:text-sm;
    }

    .jumbotron {
        @apply mx-auto mt-5 flex w-full max-w-7xl gap-12 p-2.5 pb-20 md:px-4 md:py-10;
    }

    .dark {
    }

    body {
        background: #fff linear-gradient(212deg, rgba(215, 253, 247, 0.70) 0.89%, rgba(250, 255, 254, 0.85) 15.85%, rgba(250, 255, 254, 0.75) 51.5%, rgba(234, 254, 250, 0.85) 64.18%) fixed;
    }

    .rendered-html a {
        color: #1b66e7 !important;
        text-decoration: underline;
    }

    .range-slider .rc-slider-step {
        height: 15px;
    }

    .rc-slider-vertical .rc-slider-dot {
        margin-left: 0px;
    }

    input[type="range"]::-webkit-slider-thumb {
        pointer-events: auto;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        -webkit-appearance: none;
        @apply bg-white border border-solid border-amber-900;
    }

    .hidden-text span {
        @apply blur-md font-black;
    }
}

html {
    scroll-padding-top: 220px;
    scroll-behavior: smooth;
}

.PhotoView-Portal {
    user-select: none !important;
}

:where([data-icon]) {
    width: 25px !important;
    height: 25px !important;
}

.sonner-loading-wrapper {
    --size: 25px !important;
}

.rc-slider-mark-text {
    color: #84859C !important;
    white-space: nowrap !important;
}

.rc-slider-mark-text-active {
    color: #0C0E3C !important;
}

.animationbgShimmer {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: bgShimmer;
    animation-name: bgShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: linear-gradient(120deg, hsla(0, 0%, 100%, 0) 30%, #fff 50%, hsla(0, 0%, 100%, 0) 80%);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    will-change: transform;
    animation-fill-mode: forwards;
}

@keyframes bgShimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.bg-instagram {
    background-image: linear-gradient(103deg, #405de6 4%, #5851db 20%, #833ab4 41%, #c13584 56%, #e1306c 74%, #fd1d1d 97%);
}

.polygon-div {
    clip-path: polygon(0% 40%, 0% 100%, 60% 100%, 90% 20%, 70% 0%, 50% 40%);
}